
/* 
  css for  about us page starts here */

.box {
  background-color:#f0eee4 ;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-size: 110%;
  border: 1px solid rgb(255, 245, 238);
}

.header,
.footer {
  background-color: #999;
}
.headertext{
    position: relative;top:400px;left:300px;color: black;
}

#container1s{
    margin: 40px;
    padding-top: 50px;
}
.container4s{
    width:400px;height: 60px;
    background-color: none;
    border: 1px solid #d8d8d8;
}



.color1s{
    color:#0a98c0;
    padding: 20px;
}

/* styling scroll button */
#scrollTopButton {
    /* display: none; */
    position: fixed;
    bottom: 230px;
    right: 20px;
    background-color:grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #000; }
    /* styling profiles on WE section using flexbox */
li1 {
    background:  rgb(172, 210, 225);
    width: 200px;height: 140px;
    margin: 25 15px 15px 0;
    padding: 5px;
    border:2px solid none;
    text-align: center; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);}

/* FLEXIBLE BOX STYLES */
ul1 {
    display: flex;
    list-style-type: none;
    padding: 0; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
    
}
#gmap{
    display: flex;
    list-style-type: none;
    flex-direction: row; 
    justify-content: space-around;
}
.box1{
    width: 1150px;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
}
input[type=text]{
    width: 300px;
    height: 40px;
}



@media screen and (max-width: 600px){
    .box1{
    width: 100%;
    height:auto;
    }
    /*changed font sizes*/
    h1,h2{
        font-size:large; 
    }
    .general,p,.fund{
        font-size: small;
    }
    #name{
        font-size: small;
    }
    /* change direction of flexboxes  */
    #gmap {
        flex-direction: column; 
        align-items: center;
    }
/* made changes on map framework */
    iframe {
        width: 100%;
        height: 300px; 
    }
    ul1 li1{
        width: 50%;
        height: 120px; 
    }
    #scrollTopButton {
        right: 10px;
    }
}
/* 
css and media queries for about us page ends here */







.sidebar1s { 
    grid-area: sidebar;
    height: 1050px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
.content1s {
    grid-area: content;
    height: 700px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .header1s {
    grid-area:header;
    height: 300px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .footer1s {
    grid-area: footer;
    height: 300px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

        
  .wrapper1s {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 350px 400px 400px;
    grid-template-areas:
    "sidebar header header"
    "sidebar content content"
    "footer  footer  footer";
    background-color: #fff;
    
  }