.c1{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #22767f;
    margin: 0 900px 0 30px;
    padding: 50px;
}

.btn {
    padding: 10px;
    border: 5px solid #22767f;
    border-radius: 5px;
    width: 200px; height: 100px;
    font-weight: bolder;
    font-size: x-large;
    color: #22767f;
    background-color: skyblue;
}

/* Style for section #c2 */
#c2 p {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin: 10px;
    border: #A3C8E1 5px solid;
    color: #22767f;
    /* padding: 20px; */
}

#c2 h3 {
    font-size: 40px;
    color: #22767f;
    text-align: center;
    word-spacing: 1cm;
    background-color: #1bb1dc;
    padding: 30px;
    border: 6px dashed #22767f;
}

/* Style for the subscribe form within #c2 */
.c2 {
    padding: 10px;
}

.c2 form {
    margin-top: 20px;

}

.c2 input[type="email"] {
    width: 40%;
    padding: 10px;
    border: 2px #22767f thin;
    border-radius: 5px;
}

.c2 button.button_1 {
    background-color: skyblue;
    color: #22767f;
    border: #22767f 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
::placeholder {
    color: #22767f;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}